{% if weatherData is not empty %}    
    <section id="weather">
        <article id="current_weather">
            <p class="current_temperature">{{"globals.today"|trans}} :</p>
            <img id="current_weather_icon" src="" >
            <div id="current_data">
                <p class="current_temperature">{{ weatherData.datas.current.temp|round }}°C</p>
            </div>
        </article>
        <section id="further_weather">
        {% for day in weatherData.datas.daily.days|slice(1,3)  %}
            <article class="further_weather">
                <p class="further_temperature">{{ day.date|format_datetime(pattern="EEEE", locale="fr")|capitalize }}</p>
                <img class="further_weather_icon" src="" alt="">
                <p class="further_temperature">Min: {{ day.tmin|round }}°C</p>
                <p class="further_temperature">Max: {{ day.tmax|round }}°C</p>
            </article>
        {% endfor %}
        </section>
    </section>
{% endif %}