{% extends 'base.html.twig' %}

{% block title %}Around{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('addMap') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addMap') }}
{% endblock %}

{% block main %}
    <main id="around">
        <header>
            <h1 id="around-title">{{'around.title'|trans}}</h1>
            <ul id="filters">
                <li class="filter">
                    <button class="filter-btn">
                        <img data-establishment-type="site" id="sites" class="filter-icon chosen" src="{{ asset('build/pictures/camera.svg') }}" />
                    </button>
                    <h3>{{'around.sites'|trans}}</h3>
                </li>
                <li class="filter">
                    <button class="filter-btn">
                        <img data-establishment-type="activity" id="activities" class="filter-icon" src="{{ asset('build/pictures/activities.svg') }}" />
                    </button>
                    <h3>{{'around.activities'|trans}}</h3>
                </li>
                <li class="filter">
                    <button class="filter-btn">
                        <img data-establishment-type="restaurant" id="restaurants" class="filter-icon" src="{{ asset('build/pictures/restaurants.svg') }}" />
                    </button>
                    <h3>{{'around.restaurants'|trans}}</h3>
                </li>
            </ul>
        </header>

        <div id="map" data-longitude="0.68484" data-latitude="47.394144"></div>
        <svg id="overlay" width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="var(--blue)" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z" stroke="currentColor" stroke-width="1.5"/>
            <path d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div id="poi-card">
            <img id="poi-img" src="https://picsum.photos/200/300" alt="Lorem picsum" />
            <div id="poi-card-information">
                <h2 id="poi-card-title">Le Tablier Rouge</h2>
                <div id="poi-card-details">
                    <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.50016 24.125C7.86871 22.7334 6.3565 21.2078 4.97933 19.5641C2.91266 17.0958 0.458497 13.4197 0.458497 9.91669C0.457601 8.12768 0.987445 6.37861 1.98098 4.89084C2.97451 3.40308 4.38706 2.24348 6.03988 1.55882C7.69269 0.87416 9.51146 0.695204 11.266 1.0446C13.0206 1.394 14.6321 2.25605 15.8965 3.52164C16.7383 4.35975 17.4056 5.3565 17.8597 6.45421C18.3138 7.55192 18.5456 8.72878 18.5418 9.91669C18.5418 13.4197 16.0877 17.0958 14.021 19.5641C12.6438 21.2078 11.1316 22.7334 9.50016 24.125ZM9.50016 6.04168C8.47245 6.04168 7.48683 6.44994 6.76013 7.17665C6.03342 7.90335 5.62516 8.88897 5.62516 9.91669C5.62516 10.9444 6.03342 11.93 6.76013 12.6567C7.48683 13.3834 8.47245 13.7917 9.50016 13.7917C10.5279 13.7917 11.5135 13.3834 12.2402 12.6567C12.9669 11.93 13.3752 10.9444 13.3752 9.91669C13.3752 8.88897 12.9669 7.90335 12.2402 7.17665C11.5135 6.44994 10.5279 6.04168 9.50016 6.04168Z" fill="#38BBCF"/>
                    </svg>
                    <p>1 km</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
