{% extends 'base.html.twig' %}

{% block title %}Around{% endblock %}

{% block main %}
    <main>
        <div class="title">
            <h1>{{'around.title'|trans}}</h1>
            <p id="introduction-text-around">{{'around.introduction'|trans}}</p>
        </div>
        <div id="recommandations">
            <div id="recommandations-title">
                <img id="recommandations-icon" src="{{ asset('build/pictures/camera.png') }}" alt="">
                <h3 id="recommandations-subtitle">{{'around.sites_title'|trans}}</h3>
            </div>
            <div id="galery">
                <div class="slider">
                    {% for recommendation in recommendations %}
                        <div class="place">
                            <img class="place-picture" src="{{ asset(recommendation.picture) }}">
                            <p class="place-name">{{ recommendation.name }}</p>
                            <div class="geoloc">
                                <img class="geoloc-icon" src="{{ asset('build/pictures/geoloc.png') }}">
                                <p class="place-distance">{{ recommendation.distance }}</p>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>

        <div id="recommandations">
            <div id="recommandations-title">
                <img id="recommandations-icon" src="{{ asset('build/pictures/balloon.svg') }}" alt="">
                <h3 id="recommandations-subtitle">{{'around.activities_title'|trans}}</h3>
            </div>
            <div id="galery">
                <div class="slider">
                    {% for recommendation in recommendations %}
                        <div class="place">
                            <img class="place-picture" src="{{ asset(recommendation.picture) }}">
                            <p class="place-name">{{ recommendation.name }}</p>
                            <div class="geoloc">
                                <img class="geoloc-icon" src="{{ asset('build/pictures/geoloc.png') }}">
                                <p class="place-distance">{{ recommendation.distance }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="recommandations">
            <div id="recommandations-title">
                <img id="recommandations-icon" src="{{ asset('build/pictures/eat.png') }}" alt="">
                <h3 id="recommandations-subtitle">{{'around.restaurant_title'|trans}}</h3>
            </div>
            <div id="galery">
                <div class="slider">
                    {% for recommendation in recommendations %}
                        <div class="place">
                            <img class="place-picture" src="{{ asset(recommendation.picture) }}">
                            <p class="place-name">{{ recommendation.name }}</p>
                            <div class="geoloc">
                                <img class="geoloc-icon" src="{{ asset('build/pictures/geoloc.png') }}">
                                <p class="place-distance">{{ recommendation.distance }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
