{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('selected') }}
{% endblock %}

{% block main %}
    <main>
        <h1>{{"welcome.welcome"|trans}}</h1>
        <p class="welcome-title">Ce service vous est proposé par Val de Loire Wifi Public</p>
        <section class="info intro">
            <p class="welcome-intro">La Forteresse de Montrichard, site médiéval d’exception au cœur des châteaux Renaissance, domine la ville et offre une  vue exceptionnelle sur la vallée du Cher.</p>
            <a class="seemore">Voir plus &gt</a>
        </section>
        <h2>En ce <span>moment</span></h2>
       
        {# SLIDER START #}
        <div class="slider">
            {% for recommendation in recommendations %}
                <section class="info">
                    <article class="info-title">
                        <img class="info-title-picture" src="{{ asset("build/pictures/#{ recommendation.picture }") }}">
                        <div class="info-title-text">
                            <h3>Forteresse de Montrichard</h3>
                            <p class="info-title-bloc-subtitle">information</p>
                            <p class="info-title-bloc-subtitle">Ajouté le 01/01/2022</p>
                        </div>
                    </article>
                    <p class="info-text">Nous vous rappellons que le billet d’entrée donne accès en accès libre à la forteresse, à l’expérience 3D ainsi qu’aux musées archélogique et ethnologique.</p>
                </section>
            {% endfor %}
        </div>
        {# SLIDER END #}

        <h2>A <span>proximité</span></h2>
        <ul id="filter">
            <li><button ><img data-establishment-type="site" id="1" class="around-logo active" src="{{ asset('build/pictures/camera.svg') }}"></button></li>
            <li><button ><img data-establishment-type="activity" id="2" class="around-logo" src="{{ asset('build/pictures/activities.svg') }}"></button></li>
            <li><button ><img data-establishment-type="restaurant" id="3" class="around-logo" src="{{ asset('build/pictures/restaurants.svg') }}"></button></li>
        </ul>

        <div id="slider" class="slider">
            
        </div>
    <main>
{% endblock %}
