{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}
    <main>
        <div class="title">
            <h1>{{"welcome.welcome"|trans}}</h1>
            <h2>Forteresse royale de Chinon</h2>
        </div>
        <div id="introduction">
            <img class="large-picture" src="{{ asset('build/pictures/cover.png') }}" alt="">
            <p id="introduction-text">Partez à la rencontre des grands personnages de l’Histoire : Aliénor d’Aquitaine, Charles VII, Jeanne d’Arc…. Contemplez de magnifiques panoramas sur la ville, la vallée de la Vienne et les vignes du Chinonais. Reconstitutions, visites immersives grâce l'Histopad, animations toute l'année.</p>
        </div>

        {% include("_weather.html.twig") %}
        
        <div id="recommandations">
            <div id="recommandations-title">
                <img id="recommandations-icon" src="{{ asset('build/pictures/recommandations-icon.png') }}" alt="">
                <h3 id="recommandations-subtitle">{{'welcome.recommendations'|trans}}</h3>
            </div>
            <div id="galery">
                <div class="slider">
                {% for recommendation in recommendations %}
                    <div class="place">
                        <img class="place-picture" src="{{ asset(recommendation.picture) }}">
                        <img class="place-category" src="
                            {% if recommendation.category == 'restaurant' %}
                                {{ asset('build/pictures/restaurant-icon.svg') }}
                            {% elseif  recommendation.category == 'activity' %}
                                {{ asset('build/pictures/balloon.svg') }}
                            {% elseif  recommendation.category == 'site' %}
                                {{ asset('build/pictures/camera.png')}}
                            {% endif %}
                            ">
                        <p class="place-name">{{ recommendation.name }}</p>
                        <div class="geoloc">
                            <img class="geoloc-icon" src="{{ asset('build/pictures/geoloc.png') }}">
                            <p class="place-distance">{{ recommendation.distance }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    <main>
{% endblock %}
